@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&display=swap'); /*import fonts*/

/*general page styling*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  font-size: 16pt;
}

html{
  height: 100%;
}

body{
  background-color: #ffffff;
  height: 100%
}

/*fade in for splash screen*/
.fade-in{
  opacity: 1;
  animation-name: fade;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*site header*/
.header{
  position: fixed;
  width: 100vw;
  height: 17vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 200;
  background-color: #ffffff;
  border-bottom: black solid 1px;
  -webkit-box-shadow:0px 1px 1px #4e4e4e;
 -moz-box-shadow:0px 1px 1px #4e4e4e;
 box-shadow:0px 1px 1px #4e4e4e;
  z-index: 3;
}

.toggle-button{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 2px 0 2px 0;
  z-index: 150;
}

.button-line{
  background-color: black;
  cursor: pointer;
  width: 100%;
  height: 3%;
  z-index: 10;
}

.menu{
  height: 100%;
  width: 70%;
  max-width: 400px;
  background: white;
  top: 0;
  right: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.7);
  position: fixed;
  z-index: 5;
}

.menu nav ul{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
}

.menu nav ul li {
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  letter-spacing: 0.6rem;
}

.menu nav ul li:hover, .menu nav ul li:active{
  border-bottom: 2px solid #000000;
  box-shadow: 0 4px 2px -2px rgb(68, 68, 68);
  cursor: pointer;
}

.backdrop{
  position: fixed;
  width: 100%;
  height:100%;
  background: rgba(10, 10, 10, 0.5);
  z-index: 4;
  top: 0;
}

#header-left{
  flex: 2;
  padding: 2rem 0 1rem 2rem;
  letter-spacing: 1.5rem;
}

#header-right{
  flex: 1;
  padding: 1rem 0 0 0;
  
}

.nav-links ul{
  display: flex;
  padding-top: 1rem;
  text-align: center;
}

.nav-links ul li{
  display: inline-block;
  list-style: none;
  cursor: pointer;
  text-align: center;
}

.nav-links ul li a{
  padding-right:2rem;
  font-size: 10pt;
  text-align: center;
  margin: 0 auto;
}

.nav-links ul li:hover{
  border-top: #000000 solid 2px;
}

.nav-links ul li .activeLink{
  border-top: #000 solid 2px;
  padding-top: 5px;
}

.hamburger{
 position: fixed;
 right: 0;
 padding-right: 1rem;
 padding-top: 2rem;
 z-index: 500;
}

/*main section*/

.header-space{
  height: 17vh;
}
.main-container h1{
  padding: 0 0 2rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

#gallery-title{
  padding-top: 1.5rem;
  text-align: center;
}

.category-images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.category-containers{
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 400px;
  max-height: 400px;
  margin: 1.5rem;
}

.inner-container{
  top: 50%;
  max-width: 100%;
  max-height: 100%;
}

.category-images img{
  height: 100%;
  width:100%;
}

.img-overlay{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color:white;
  opacity: 0;
  transition: .3s ease;
  cursor: pointer;
}

.img-overlay:hover{
  opacity: 1;
}

.img-overlay span{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  letter-spacing: 0.5rem;
  font-size: 0.7rem;
}

/*About section*/
.about{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.about-content{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-flex-container{
  flex-basis: 35%;
}

.about-content img{
  flex-basis: 40%;
}

.about div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about div img{
  max-width: 40vw;
  max-height: 400px;
  padding-left: 1rem;
  padding-top: 1rem;
}

.about-title h1{
  padding: 2rem 0 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

.about p{
  width: 30vw;
  padding: 1.2rem 1.2rem 0 1.2rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/*contact form*/
.contact{
  margin: 4rem auto;
  width: 70%;
}

.contact h1{
  font-weight: 400;
  text-align: center;
  font-size: 1.5rem;
}

.form-container{
  display: flex;
  max-height: 70%;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-form {
  width: 60%;
  padding-top: 20px;
}

.contact-row-top{
  margin-top:1rem;
}

label{
  font-weight: 400;
}

.contact-row-top input{
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-bottom: black solid 2px;
  border-top: none;
  border-right: none;
  border-left: none
}

.contact-row-top input:hover{
  border-bottom: black solid 4px;
  cursor: pointer;
}

.contact-row-top input:focus{
  border-bottom: black solid 4px;
}

.contact-row-bottom{
  width: 100%;
  margin-top:1rem;
}

.contact-row-bottom textarea{
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-bottom: black solid 2px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.contact-row-bottom textarea:hover{
  border-bottom: black solid 4px;
  cursor: pointer;
}

.contact-row-bottom textarea:focus{
  border-bottom: black solid 4px;
}

.submit-form{
  background-color: #ffffff;
  border: none;
  font-size: 1.1em;
}

.submit-form:hover{
  font-weight: 400;
  cursor: pointer;
}

.to-top-arrow{
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 7%;
  text-align: center;
}

.pointer-left{
  position: absolute;
  background-color: black;
  width: 50%;
  height: 7%;
  top: 15%;
  left: 8%;
  border-radius: 0 5px 0 0;
  transform:rotate(-45deg);
}

.pointer-right{
  position: absolute;
  background-color: black;
  width: 50%;
  height: 7%;
  top: 15%;
  right: 8%;
  border-radius: 5px 0 0 0;
  transform:rotate(45deg);
}

.pointer-vertical{
 position: absolute;
 background-color: black;
 height: 80%;
 width: 7%;
 top: 1.5%;
 left: 50%;
 border-radius: 2.5px 2.5px 0 0;
 transform: translate(-50%)
}

#to-top-text{
  position: absolute;
  font-size: 0.4rem;
  width: 100%;
  bottom: 0;
  left: 0;
}

.to-top-button{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
}

/*footer*/
.footer{
  display: flex;
  background: linear-gradient(#272727, #000000);
  color: #ffffff;
  justify-content: center;
  padding: 10px;
}

/*Display regular nav menu on bigger devices, hamburger menu on small devices*/
@media(min-width:850px){
  .menu{
    display: none;
  }
  .toggle-button{
    display: none;
  }
  .button-line{
    display: none;
  }
  .backdrop{
    display: none;
  }
}

@media(max-width:850px){
  #header-right ul li{
    display:none;
  }
}

@media(max-width:850px){
  .about{
    display: flex;
    flex-direction: column;
  }
  .about p{
    width: 70vw;
    text-align: center;
  }
  .about-img-container{
    float: left;
  }
}